
        <div class="main-image">
            <div class="main-text">
                <h1>Welcome Holiday Shoppers!</h1>
                <p>It's that time of the year again to begin planning what to ask Santa for Christmas!</p>
                <p> To get started, click on the button below.</p>
                <a href="/gift-list" class="hero-btn">Let's Get Started</a>
            </div>
        </div>

